<div *ngIf="datos!=null; else espera" class="container p-3" >
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Comuna</th>
        <th scope="col">Positivos</th>
        <th scope="col">%p</th>
        <th scope="col">Recuperados</th>
        <th scope="col">%R</th>
        <th scope="col">Activos</th>
        <th scope="col">%A</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dat of datos" >
        <td>{{dat.comuna}}</td>
        <td>{{dat.positivos_confirmados}}</td>
        <td>{{dat.pc}}</td>
        <td>{{dat.recuperados}}</td>
        <td>{{dat.r}}</td>
        <td>{{dat.activos}}</td>
        <td>{{dat.a}}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #espera> esérando datos ...</ng-template>

